<div class="inner-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <ng-container *ngIf="selectedView === 'childOne'">
                    <app-aggrid></app-aggrid>
                  </ng-container>
                  <ng-container *ngIf="selectedView === 'childTwo'">
                    <app-agchart chartData={{chartData}} ></app-agchart>
                  </ng-container>
                
            </div>
            
        </div>
    </div>
</div>
<router-outlet></router-outlet>